* {
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #a0cbd2;
  background: linear-gradient(120deg, #a0cbd2 0%, #93c3cf 35%, #5a98a7 100%);
  font-family: six-hands-marker, sans-serif;
  font-weight: 700;
  color: #00000090;
}

main {
  position: relative;
}

@media screen and (orientation: landscape) {
  main {
    width: 1000px;
    height: 500px;
  }

  @media screen and (orientation: portrait) {
    main {
      width: 350px;
      height: 600px;
    }
  }
}

.element {
  position: absolute;
  font-family: new-order, sans-serif;
  font-weight: 400;
}

.active-element {
  cursor: pointer;
}

.inactive-element {
  opacity: 0.5;
}

.animate-element {
  position: relative;
  transition: transform 0.2s ease;
}

.animate-element:hover {
  animation: shake 0.6s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate(-0.75px, 0);
  }

  20%,
  80% {
    transform: translate(1px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-1.5px, 0);
  }

  40%,
  60% {
    transform: translate(1.5px, 0);
  }
}

.element-label {
  position: absolute;
}

.element-label-text {
  text-align: center;
  font-size: 90%;
  font-size: medium;
}

.element-label-text h2 {
  font-size: 110%;
  box-sizing: content-box;
  margin-bottom: 5%;
}

.label-arrow {
  opacity: 60%;
  position: absolute;
}

@media screen and (orientation: portrait) {
  .animate-element:hover {
    animation: none;
  }
}

#businesscard-element {
  top: 15%;
  left: 55%;
  transform: rotate(2deg);
}

#calculator-element {
  top: 20%;
  left: 32%;
  transform: rotate(10deg);
}

#creditcards-element {
  top: 30%;
  left: 45%;
  transform: rotate(-10deg);
}
