#notes-element-label {
  top: 50%;
  bottom: unset;
  left: 20%;
}

#notes-element-label-arrow {
  width: 15px;
  bottom: -40%;
}

#notes-element-label-text {
  transform: rotate(-45deg);
}

#notes-element {
  top: 52%;
  left: 50%;
}

#notes-container {
  width: 30px;
  box-shadow: inset 1px -1px 0px 1px #eec860, 2.5px 2.5px 15px #00000050;
}

#notes-title {
  display: none;
}
