#notes-element-label {
  bottom: 17%;
  left: 26%;
}

#notes-element-label-arrow {
  width: 30px;
  bottom: -90%;
  left: 90%;
}

#notes-element-label-text {
  transform: rotate(-45deg);
}

#notes-element {
  bottom: 3%;
  left: 35.5%;
  transform: rotate(-12deg);
}

#notes-container {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffdf7c;
  box-shadow: inset 2px -2px 0px 2px #eec860, 5px 5px 30px #00000050;
  font-size: 75%;
}

#notes-title {
  transform: rotate(-45deg);
  position: relative;
  bottom: 2px;
  left: 2px;
}

@media screen and (orientation: portrait) {
  #notes-element-label {
    top: 50%;
    bottom: unset;
    left: 20%;
  }

  #notes-element-label-arrow {
    width: 15px;
    bottom: -40%;
  }

  #notes-element-label-text {
    transform: rotate(-45deg);
  }

  #notes-element {
    top: 52%;
    left: 50%;
  }

  #notes-container {
    width: 30px;
    box-shadow: inset 1px -1px 0px 1px #eec860, 2.5px 2.5px 15px #00000050;
  }

  #notes-title {
    display: none;
  }
}
