@font-face {
  font-family: "alarm-clock";
  src: url("../assets/FONT/alarm-clock.woff2") format("woff2"),
    url("../assets/FONT/alarm-clock.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#calculator-element-label {
  top: 5%;
  left: 23%;
}

#calculator-element-label-arrow {
  width: 40px;
  top: 150%;
  left: 25%;
  transform: scaleX(-1) rotate(30deg);
}

#calculator-element-label-text {
  transform: rotate(-5deg);
}

#calculator-element {
  top: 20%;
  left: 32%;
  transform: rotate(10deg);
}

#calculator-container {
  width: 60px;
  aspect-ratio: 2/3;
  padding: 5% 6%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #505b7d;
  border-radius: 5px;
  box-shadow: 5px 5px 30px #00000050;
}

#calculator-solar-container {
  width: 100%;
  height: 10%;
  display: flex;
}

.calculator-solar-part {
  width: calc(100% / 8);
  height: 100%;
  background: #00000060;
  border-left: 1px solid #ffffff50;
}

#calculator-display {
  width: 100%;
  height: 15%;
  padding-left: 5%;
  display: flex;
  align-items: flex-end;
  background: #a9afbd;
  font-family: "alarm-clock", sans-serif;
  font-size: 50%;
}

#calculator-button-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.calculator-button-small {
  width: 21%;
  height: 21%;
  background: #708ab9;
  border-radius: 2px;
}

#calculator-button-large {
  width: 21%;
  height: 47%;
  background: #ffdf7c;
  border-radius: 2px;
}
