#journal-element-label {
  top: 20%;
  right: 8%;
}

#journal-element-label-arrow {
  width: 55px;
  top: 110%;
  left: 60%;
  transform: rotate(-20deg);
}

#journal-element-label-text {
  transform: rotate(15deg);
}

#journal-element {
  top: 40%;
  right: 17%;
  transform: rotate(5deg);
}

#journal-body,
#pencil-body,
.pencil-metal-part,
#pencil-eraser {
  box-shadow: 5px 5px 30px #00000050;
}

/* 📌 JOURNAL  */

#journal-container {
  width: 100px;
  aspect-ratio: 2/3;
  position: relative;
}

#journal-body {
  width: 100%;
  aspect-ratio: 2/3;
  background: #50495b;
  border-radius: 5px 15px 15px 5px;
}

#journal-label {
  width: 80%;
  aspect-ratio: 1.7 / 0.7;
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cecdcb;
  border-radius: 10px;
  font-size: 75%;
  font-weight: 500;
}

#journal-band {
  width: 5%;
  aspect-ratio: 1/30;
  background: #7082ac;
  position: absolute;
  top: 0;
  right: 20%;
}

/* 📌 PENCIL */

#pencil-container {
  width: 7.5px;
  aspect-ratio: 1/20;
  position: absolute;
  top: 25%;
  left: 10%;
  transform: rotate(-25deg);
}

#pencil-container * {
  width: 100%;
}

#tip-wood {
  border-width: 0 3.75px 10.75px 3.75px;
  border-color: transparent transparent #ebeae9 transparent;
}

#tip-lead {
  position: absolute;
  top: 0;
  left: 1.875px;
  border-width: 0 1.875px 5.375px 1.875px;
  border-color: transparent transparent #605d59 transparent;
}

#tip-wood,
#tip-lead {
  width: 0;
  height: 0;
  border-style: inset;
}

#pencil-body {
  aspect-ratio: 1/15;
  background: #ffdf7c;
}

.pencil-metal-part {
  aspect-ratio: 1.2/0.5;
  background: #bbc9d8;
  border-bottom: 1px solid #00000050;
  border-radius: 1px;
}

#pencil-eraser {
  aspect-ratio: 1;
  background: #d077bb;
  border-radius: 0 0 2.5px 2.5px;
}

@media screen and (orientation: portrait) {
  #journal-element-label {
    top: 73%;
    right: 33%;
  }

  #journal-element-label-arrow {
    width: 27.5px;
    top: 140%;
    left: 60%;
    transform: scaleX(-1) rotate(-10deg);
  }

  #journal-element-label-text {
    transform: rotate(10deg);
  }

  #journal-element {
    top: unset;
    bottom: 7%;
    right: 13%;
  }

  #journal-body,
  #pencil-body,
  .pencil-metal-part,
  #pencil-eraser {
    box-shadow: 2.5px 2.5px 15 #00000050;
  }

  /* 📌 JOURNAL  */

  #journal-container {
    width: 50px;
  }

  #journal-body {
    border-radius: 2.5px 7.5px 7.5px 2.5px;
  }

  #journal-label {
    border-radius: 5px;
    color: transparent;
  }

  /* 📌 PENCIL */

  #pencil-container {
    width: 3.75px;
    top: 25%;
    left: 10%;
  }

  #tip-wood {
    border-width: 0 1.875px 5.375px 1.875px;
  }

  #tip-lead {
    left: 0.9375px;
    border-width: 0 0.9375px 2.6875px 0.9375px;
  }

  .pencil-metal-part {
    border-bottom: 0.5px solid #00000050;
    border-radius: 0.5px;
  }

  #pencil-eraser {
    border-radius: 0 0 1.25px 1.25px;
  }
}
